<!DOCTYPE html>
<html>
<body>

<h1 style="background-color:Light Gray;">Light Gray</h1>
<h2 style=style="color:Tomato;"> </h2>
<style>
p.serif { font-family: "Times New Roman", Times, serif;
      }

    div {
        height: 200px;
        width: 50%;
        background-color: Violet;
        style="color:Light Gray;">
      }
      </style>
      <style>
      <ul p.dotted {border-style: dotted;} </ul> 
      </body>
</html>
